<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Fuel Quote Client Login</title>
    {% load static %}
    <link href="{% static 'registrationstyle.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center">
        <h1> Client Registration</h1>
        <form action="/signup" method="post">
        {% csrf_token %}
            <div class="txt_field">
                <input type="text" id="username" name="username"  required>
                <span></span>
                <label>Create Username</label>
            </div>
            <div class="txt_field">
                <input type="password" id="pass1" name="pass1" required>
                <span></span>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input type="password" id="pass2" name="pass2"  required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>